body{
    align-items: center;
    background-color: aqua;
    display:flex;
    flex-direction: column;
}

img {
    max-width: 50%;
    padding: 15px;
}

.descripcion {
    font-size: 18px;
    padding-bottom: 6px;
    margin: 0 20%;
}

.link-volver{
    font-size: 20px;
}
